# Exclude private repo
src/github.com/dhanapala-id/

# Exclude things from github
src/github.com

# Exclude large files
bin
pkg

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/